@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-clr: #4b0082;
    --accent-clr: #00ffff;
    --text-clr: #e0e0e0;
    --bg-clr: #1c1c1c;
    --section-contrast: #151515;
}
body{
    color: var(--text-clr);
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}
h1, h2{
    color: var(--accent-clr);
}
#header{
    background-color: var(--bg-clr);
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px solid var(--accent-clr);
    border-top: 1px solid var(--accent-clr);
}
#header .info-section ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
}
#header .info-section ul li a{
    text-decoration: none;
    color: var(--text-clr);
    font-size: 18px;
    font-weight: 400;
}
#header .info-section ul li a:hover{
    color: var(--accent-clr);
}
main .projects{
    background-color: var(--bg-clr);
    padding: 3em 2.5em;
    border-bottom: 1px solid var(--accent-clr);
    display: flex;
    gap: 20px;
    flex-direction: column;
    /* height: calc(100vh - 80px); */
    align-items: center;
} 
main .projects .project-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    /* overflow-y: auto; */
    padding: 1em;
}
main .projects .project-list .project-item{
    background-color: var(--section-contrast);
    padding: 1.5em;
    border-radius: 8px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
main .projects .project-list .project-item:hover{
    transform: scale(1.05);
}
main .projects .project-list .project-item button{
    background-color: var(--accent-clr);
    color: var(--bg-clr);
    border: none;
    padding: 0.8em 1em;
    border-radius: 8px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
main .projects .project-list .project-item button span{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--bg-clr);
    transition: color 0.3s ease;
}
main .projects .project-list .project-item button span:hover{
    color: var(--text-clr);
}
main .projects .project-list .project-item button:hover{
    background-color: var(--primary-clr);
}
main .projects .project-list .project-item button a{
    text-decoration: none;
    color: var(--bg-clr);
    font-weight: 550;
    font-size: 1em;
    transition: color 0.3s ease;
}
main .projects .project-list .project-item button a:hover{
    color: var(--text-clr);
}
footer{
    background-color: var(--bg-clr);
    padding: 8px;
    display: flex;
    justify-content: center;
}
footer p{
    color: var(--text-clr);
    font-size: 1em;
}