@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-clr: #4b0082;
    --accent-clr: #00ffff;
    --text-clr: #e0e0e0;
    --bg-clr: #1c1c1c;
    --section-contrast: #151515;
}

body {
    color: var(--text-clr);
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

h1,
h2 {
    color: var(--accent-clr);
}

#header {
    background-color: var(--bg-clr);
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px solid var(--accent-clr);
    border-top: 1px solid var(--accent-clr);
}

#header .info-section ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
}

#header .info-section ul li a {
    text-decoration: none;
    color: var(--text-clr);
    font-size: 18px;
    font-weight: 400;
}

#header .info-section ul li a:hover {
    color: var(--accent-clr);
}

.hero {
    background-color: var(--bg-clr);
    padding: 3em 2.5em;
    border-bottom: 1px solid var(--accent-clr);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.hero .hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.hero .hero-left h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

.hero .hero-left h1 #h1-i {
    font-size: 2.9rem;
}

.hero .hero-left h1 #h1-ii {
    font-size: 3.5rem;
    letter-spacing: 3px;
}

.hero .hero-left p {
    font-size: 1.3rem;
}

.hero .hero-left .cta-button {
    padding: 16px 12px;
    margin-top: 10px;
    max-width: 180px;
    width: 100%;
    border: none;
    font-size: 14px;
    border-radius: 8px;
    background-color: var(--primary-clr);
    color: var(--text-clr);
    cursor: pointer;
    font-weight: 550;
    transition: background-color 1s ease;
}

.hero .hero-left .cta-button:hover {
    background-color: var(--accent-clr);
    color: var(--bg-clr);

    i {
        color: var(--bg-clr);
    }

    a {
        color: var(--bg-clr);
    }
}

.hero .hero-left .cta-button span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.hero .hero-left .cta-button span i {
    margin-right: 5px;
    color: white
}

.hero .hero-left .cta-button a {
    text-decoration: none;
    color: var(--text-clr);
    transition: background-color 0.3 ease;
}

.hero .hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
    margin-right: 10px;
}

.hero .hero-right img {
    max-width: 300px;
    width: 100%;
    height: 400px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40% 15%;
    transition: transform 0.3s ease;
    filter: drop-shadow(0 0 5px var(--accent-clr));
}

.hero .hero-right .socials-group {
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 8;
}

.hero .hero-right .socials-group ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.hero .hero-right .socials-group ul li:last-child {
    position: relative;
    bottom: 25px;
    right: 10px;
}

.hero .hero-right .socials-group ul li a {
    font-size: 1.5em;
    color: var(--accent-clr);
    opacity: 0.8;
    transition: all 1s ease;
    border: 1px solid var(--accent-clr);
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    text-decoration: none;
}

.hero .hero-right .socials-group ul li a:hover {
    color: var(--accent-clr);
    background-color: black;
}

.about {
    background-color: var(--section-contrast);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 40px;
    color: var(--text-clr);
    border-bottom: 1px solid var(--accent-clr);
}

.about .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.about .skills i {
    font-size: 2rem;
    color: var(--primary-clr);
    transition: transform 0.3s ease;
    cursor: pointer;

}

.about .skills i:hover {
    transform: scale(1.2);
    color: var(--accent-clr);
}

.about h2 {
    font-size: 2rem;
}

.about p {
    font-size: 1.3rem;
    max-width: 850px;
    text-align: center;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-clr);
    color: var(--text-clr);
    border-bottom: 1px solid var(--accent-clr);
    position: relative;
    padding: 2rem 1rem;
    overflow: hidden;
}

.projects .project-list {
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 1rem 0;
    width: 100%;
    scroll-snap-type: x mandatory;
    scroll-padding: 1rem;
}

.projects>button {
    padding: 25px 10px;
    width: 50px;
    border: none;
    height: 100%;
    opacity: 0;
    z-index: 10;
    background-color: var(--text-clr);
    color: var(--primary-clr);
    font-size: 2.5rem;
}

.projects>button:hover {
    opacity: 0.3;
}

.projects #left-scroll {
    position: absolute;
    left: 0;
    top: 0;
}

.projects #right-scroll {
    position: absolute;
    right: 0;
    top: 0;
}

.projects .project-list::-webkit-scrollbar {
    visibility: hidden;
}

.projects .project-item {
    flex: 0 0 350px;
    /* fixed width for each card */
    min-width: 350px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--section-contrast);
    padding: 1.5em;
    border-radius: 8px;
    transition: transform 0.3s ease;
    scroll-snap-align: start;
    color: white;
    box-sizing: border-box;
}

.projects .project-list .project-item:hover {
    transform: scale(1.05);
}

.projects .project-list .project-item h1 {
    text-align: center;
}

.projects .project-list .project-item .btn-container {
    display: flex;
    gap: 10px;
    margin-top: 16px;
}

.projects .project-list .project-item button {
    background-color: var(--primary-clr);
    border: none;
    padding: 0.8em 1em;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    a {
        transition: color 0.3 ease;
    }
}

.projects .project-list .project-item button:hover {
    background-color: var(--accent-clr);

    a {
        color: var(--bg-clr);
    }
}

.projects .project-list .project-item button a {
    text-decoration: none;
    color: var(--text-clr);
    font-weight: 550;
    font-size: 1em;
    transition: color 0.3s ease;
}

.projects .project-list .project-item button a:hover {
    color: var(--bg-clr);
}

.contact {
    background-color: var(--section-contrast);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid var(--accent-clr);
    text-transform: uppercase;
}

.contact form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
}

.contact form .group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    gap: 2px;
    letter-spacing: 2px;
}

.contact form .group label {
    font-size: 14px;
    color: var(--text-clr);
}

.contact form .group label:hover {
    color: var(--accent-clr);
}

.contact h2 {
    font-size: 2rem;
}

.contact form input,
textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    background-color: var(--bg-clr);
    color: var(--text-clr);
    box-sizing: border-box;

}

.contact form input:focus,
textarea:focus {
    outline: none;
    border: 2px solid var(--accent-clr);
}

.contact form button {
    background-color: var(--primary-clr);
    color: var(--text-clr);
    margin: 10px 0;
    border: none;
    max-width: 80px;
    padding: 8px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 550;
    text-transform: uppercase;
}

.contact form button:hover {
    background-color: #5a0083;
}

footer {
    background-color: var(--bg-clr);
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    position: relative;
}

footer p {
    color: var(--text-clr);
    font-size: 1em;
}

footer a {
    text-decoration: none;
    color: var(--text-clr);
}

footer a:hover {
    color: var(--accent-clr);
}


@media (max-width: 841px) {
    .hero {
        max-width: 841px;
        width: 100%;
        padding: 35px;
    }
}

@media (max-width: 703px) {
    .hero {
        flex-direction: column-reverse;
    }

    #header ul {
        visibility: hidden;
    }

    .projects .project-list::-webkit-scrollbar {
        visibility: visible;
        height: 8px;
        background-color: var(--section-contrast);
        border-radius: 16px;
    }
    .projects .project-list{
        scroll-snap-type: x mandatory;
    }

    .projects .project-list::-webkit-scrollbar-thumb {
        background-color: var(--primary-clr);
        border-radius: 16px;
    }
}